:root {
    --pozadina: #ecf0f1;
    --primarna-boja:#2c3e50;
    --pozadina-container: #d77373;

}
body{
    background:var(--pozadina);
}
.container{
    width:90%;
    /*border: 1px solid black; */
    margin: auto;
    outline-style:solid;
    outline-width: 2px;
    /* outline-offset:10px;*/
    outline-color:var(--primarna-boja);
    /* padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 4rem;
    padding-bottom: 3rem; */

    /*Redosljed je top right bottom left*/
    /* padding: 1rem 2rem 3rem 4rem; */
/* top/bottom right/left */


padding: 1rem 2rem;
background-color:var(--pozadina-container);
}

h1{
    text-align:center;
    font-family: monospace;
}
#lista {
    border: 2px dashed black;
    border-radius: 0.5rem;
    padding: 2rem;
}