#upute {
    display:none;
}

    body{
    background-color: aqua;
}
ul {
    list-style-type: none;
    display: flex;
    /* gap: 1rem;*/
    justify-content: center;;
}
ul li {
    padding: 0.8rem;
}
ul li a {

    font-size: 1.2rem;
    text-decoration: none;
    color:black;

}
.panel {
/* border: 1px solid black; */
    padding: 0.8em;
    text-align: justify;
    }

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
    
header::after{
    content:'MOBITEL';
}
/*Tablet*/

@media (min-width:500px) and (max-width:799px){

header::after{
    content:'MOBITEL';
    }

body{
    background-color: blueviolet;
    }
main{
    display:grid;
    grid-template-areas: 
    "a b"
    "c c"
    "c d";
}
}
@media (min-width:800px) {
    header::after{
        content:'DESKTOP';
    }
    body {
        background-color: chartreuse;
    }
    main{
    display:grid;
    grid-template-areas: 
    "a b c"
    "d d .";
}
}

@media  print {
    header {
        display:none;
    }
    #upute {
        display:block;
        text-align: center;
    }
    main {
        display:flex;
        flex-direction: column;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color:white;
    }
    ul li a {
        color:white;
    }
}